/*Body background styling*/
body {
    background-image: url(../images/background.png);
}

/*Nav Bar Styling*/
.nav-wrapper, .nav-content {
    padding-left: 15px;
}

nav .input-field {
    height: 15%;
}

.nav-extended {
    background-image: url(../images/top-image.png);
}

#globe { 
    font-size: 40px;
}
nav .brand-logo i, nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"], nav .brand-logo i.material-icons {
    margin-right: 3px;
}

#search {
    height: 40px;
    display: inline-block;
    position: relative;
    left: 30px;
}
#searchIcon {
    font-size: 30px;
    position: relative;
    left: -10px;
    top: -10px;
}
#search.autocomplete {
    position: relative;
    left: 30px;
    width: 95%;
}
#searchHeader {
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 30px;
    margin-bottom: -20px;
}

#searchDiv {
    display: inline-block;
}

.recentSearches {
    padding-top: 0px;
    margin-top: -35px;
    padding-bottom: 0px;
}

.dropdown-content {
    font-size: 14px !important;
}
a.dropdown-button {
    width: 200px;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    width: 75% !important;
}

/*Photos and weather row styling*/
.photoCarousel {
    margin-top: -10px;
    width: 50%;
}
.photoContainer {
    margin-left: 5px;
    margin-right: 5px;
}
.carousel-item {
    position: relative;
    width: 70%;
}
.photoText {
    position: absolute;
    top: 25px;
    left: 0px;
    color: white;
    background-color: black;
    padding: 20px;  
}

#buttonForward {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 46px;
    height: 46px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#buttonBack {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    width: 46px;
    height: 46px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.indicators{
    visibility: hidden;
}

.weather {
    text-align: center;
}

#weatherTitle {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

#weatherCond {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -10px;
    color: black;
}
#weatherTemp {
    display: inline-block;
    margin-bottom: -10px;
    color: black;
}

#middle-panel {
    padding-bottom: 10px;
}

#map {
    margin-top: -10px;
    position: relative;
    left: 10px;
}

/*Styling for info and map card*/

h5 {
    color: #ffb74d;
    font-size: 18px;
    line-height: 80%;
}
h6 {
    color: white;
    line-height: 80%;
    padding-left: 15px;
}
.card {
    overflow: scroll;
    height: 583px;
}
.cityInfo {
    padding: 2.5px;
    font-weight: normal;
}
#newPlaceTitle {
    color: #ffb74d;
    line-height: 80%;
}
#newPlaceOpen,
#newPlaceRating {
    color: white;
    line-height: 80%;
    padding-left: 15px;
}


/*Styling for bottom wrapper*/
.footWrapper {
    background-image: url('../images/bottom-image.jpg')
}

/*Media Queries for getting proper alignment for mobile responsiveness*/

@media screen and (max-width: 2000px) {
    #buttonForward {
        position: relative;
        right: 150px;
        top: 100px;
    }
    #buttonBack {
        position: relative;
        left: 150px;
        top: 100px;
    }
}

@media screen and (max-width: 1400px) {
    #buttonForward {
        position: relative;
        right: 125px;
        top: 100px;
    }
    #buttonBack {
        position: relative;
        left: 125px;
        top: 100px;
    }
}
@media screen and (max-width: 1300px) {
    #buttonForward {
        position: relative;
        right: 100px;
        top: 100px;
    }
    #buttonBack {
        position: relative;
        left: 100px;
        top: 100px;
    }
}
@media screen and (max-width: 1200px) {
    #buttonForward {
        position: relative;
        right: 100px;
        top: 100px;
    }
    #buttonBack {
        position: relative;
        left: 100px;
        top: 100px;
    }
}
@media screen and (max-width: 1000px) {
    #buttonForward {
        position: relative;
        right: 75px;
        top: 100px;
    }
    #buttonBack {
        position: relative;
        left: 75px;
        top: 100px;
    }
}

@media screen and (max-width: 850px) {
    #buttonForward {
        position: relative;
        right: 100px;
        top: 90px;
    }

    #buttonBack {
        position: relative;
        left: 100px;
        top: 90px;
    }
}

@media screen and (max-width:750px) {
    #buttonForward {
        position: relative;
        right: 100px;
        top: 80px;
    }

    #buttonBack {
        position: relative;
        left: 100px;
        top: 80px;
    }
}

@media screen and (max-width:700px) {
    #buttonForward {
        position: relative;
        right: 100px;
        top: 70px;
    }

    #buttonBack {
        position: relative;
        left: 90px;
        top: 70px;
    }
}

/*@media screen and (max-width:550px) {
    #buttonForward {
        position: relative;
        right: 100px;
        top: 70px;
    }

    #buttonBack {
        position: relative;
        left: 80px;
        top: 70px;
    }
}*/

@media screen and (max-width:550px) {
    #buttonForward {
        position: relative;
        right: 100px;
        top: 60px;
    }

    #buttonBack {
        position: relative;
        left: 70px;
        top: 60px;
    }
}

@media screen and (max-width: 700px) {
    .footWrapper {
        height: 150px;
    }
    
}





